* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 794px;
  min-height: 1123px;
  margin: auto;
  background: white;
  padding: 10mm;
  border: 1px solid black;
}

/* Header */

header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.head-h2,
.head-h3,
.head-p {
  text-align: center;
}
.head-p a,.pro2-p a,.pro1-p a,.pro3-p a {
  text-decoration: none;
  color: black;
}
.head-p:hover a,
.pro1-p:hover a,
.pro2-p:hover a,
.pro3-p:hover a{
  text-decoration: underline;
  color: blue;
}

/* About / career objective */

.about {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.about-p {
  text-align: start;
}

/* Skills */
.skills{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.skills-h3{
    margin-top: 10px;
}

.skill{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

/* Projects */

.project{
  display: flex;
  flex-direction: column;
  margin-top:10px ;
  gap: 1rem;

}

.projects{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 15px;
}

.pro1-h4 em,.pro2-h4 em,.pro3-h4 em{
  color: rgb(65, 64, 64);
  margin-left: 15px;
}
.pro1-p,.pro2-p,.pro3-p{
  margin-left: 15px;
}

/* Education */

.education{
  display: flex;
  flex-direction: column;
  margin-top:10px ;
  gap: 1rem;

}

.studys{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin-left: 15px;
}
.studys-h4 span{
  font-size: 13.5px;
}

/* Certification */

.certification{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: .5rem;
}
.certificate{
  margin-left:15px ;
  display: flex;
  flex-direction: column;
  gap: .2rem;
}

.language{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: .2rem;
}